*{
  background-color: rgb(76, 145, 205);
  }
  
  .muscleupp{
    color: rgb(96, 96, 228);
  }
  
  header{
    background-color: rgb(96, 96, 228);
    color: white;
    padding: 10px;
    text-align: center;
  }
  div{
  
  }